<div>
  <div class="club-container">
    <h1> <!--category-name --> </h1>
    <h3> <!-- category-info --></h3>
    <div class="club-cards">
      <div class="card">
        <div class="fond-card">
          <i class="fa-solid fa-ellipsis"></i>
          <i class="fa-regular fa-heart"></i>
          <div class="inner-card">
            <div class="club-cover-img"></div>
            <h2 id="title"></h2>
            <h3 id="description"></h3>
            <div class="buttons">
              <button class="join"></button>
              <button class="message"></button>
              <i class="fa-regular fa-calendar-days"></i>
            <div class="availability">
              <div class="created-on"></div>
              <div class="members"> <i class="fa-regular fa-user"></i><!-- 9/15 --></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="categories">

    </div>
    <div class="date"></div>
  </div>
</div>






<% @category.each do |category| %>
  <%= category.club %>
  <% end %>
