$primary: #003049;
$secondary: #5b5b5b;
$orange: #f77f00;
$red: #d62828;
$yellow: #fcbf49;
$light-yellow: #eae2b7;
$background: #d9d9d9;
$light: #f6f8f9;
$light-gray: #f0ede9;

$box-shadow: 1px 1px 0 0 $primary, 2px 2px 0 0 $primary, 3px 3px 0 0 $primary,
  4px 4px 0 0 $primary;
