.about-container {
  background-image: url(pngwing.com.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.section1 {
  height: 90vh;
  width: 100%;
  display: flex;
  padding: 0 50px;

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    margin: 20px;
    background-color: $light;
    border: 3px solid $primary;
    border-radius: 10px;
    box-shadow: $box-shadow;
    height: fit-content;
    align-self: center;
    color: $primary;

    .title {
      align-self: flex-start;
      font-size: 3em;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .slogan {
      font-size: 1.5em;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
  .side-pic {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

.team-members {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light;
  padding: 0 50px;

  .members {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    .member {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 3px solid $primary;
      border-radius: 10px;
      margin: 10px;
      box-shadow: $box-shadow;
      background-color: $yellow;
      .member-name {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 10px;
        color: $primary;
      }
      .member-description {
        margin-bottom: 10px;
        padding: 15px;
        height: 100px;
        overflow: hidden;
        transition: all 0.3s ease;
        color: $primary;
        overflow: auto;
      }
      .member-pic {
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin-bottom: 10px;
        border-bottom: 3px solid $primary;
        img {
          width: 100%;
        }
      }
      .member-socials {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        a {
          color: $orange;
          text-decoration: none;
          font-size: 1.5em;
        }
      }
    }
  }
}
.team-members::before {
  content: "";
  position: absolute;
  top: calc(100% - 19px);
  height: 20px;
  width: 100%;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg)
    bottom;
  transform: rotate(180deg);
}

.partners {
  text-align: center;
  background-color: $background;
  padding: 50px 50px;

  .partners-title {
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
  }
  p {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .partner-logos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .partner-logo {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    img {
      width: 100%;
    }
  }
}
