.home-container {
  background-image: url("https://res.cloudinary.com/dgpk6t1we/image/upload/c_fill,h_1080,q_auto:eco,w_1920/v1707159577/assets/vecteezy_sketch-in-doodle-style-group-of-funny-people-vector_17647157_Converted_g68f24.jpg");
  background-color: $light-yellow;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 0 100px;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0 20px;

    .banner {
      width: 500px;
      img {
        width: 100%;
      }
    }

    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: $primary;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
      font-weight: 500;
      color: $primary;
      margin-bottom: 1rem;
    }
  }
}
.buttons {
  display: flex;
  justify-content: center;
  width: fit-content;

  .signin {
    background-color: $orange;
    margin: 20px;
    padding: 10px 40px;
  }

  .signup {
    background-color: $yellow;
    margin: 20px;
    padding: 10px 40px;
  }

  .main {
    padding: 10px 40px;
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 0 20px;
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      place-items: center;
      .banner {
        width: 200px;
      }
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
