.profile-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 20px 50px;
  .banner {
    width: 100%;
    height: 40vh;
    padding: auto;
    overflow: hidden;
    margin-bottom: 20px;
    border: 3px solid $primary;
    border-radius: 10px;
  }

  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    .photo {
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .club {
    width: 100%;
    height: 100px;
    box-shadow: $box-shadow;
    border-radius: 10px;
    background-color: $light-yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    .club-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      .club-name {
        font-size: 1.5em;
        font-family: sans-serif;
        color: $primary;
      }
      .club-description {
        font-size: 1.1em;
        font-family: sans-serif;
        color: $secondary;
      }
    }
  }
}

.profile-info {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100%;
  gap: 20px;

  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    h6 {
      margin-top: 5px;
    }
    .stat1,
    .stat2,
    .stat3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      margin-right: 10px;

      .member-stat,
      .admin-stat,
      .event-stat {
        text-align: center;
      }
    }
  }

  .info-section {
    margin-top: 100px;
  }
}

.cover-pic {
  width: 100%;
  object-fit: cover;
  background-color: #f0f0f0;
  padding: auto;
}

.left {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 20px;
  position: sticky;
  top: 100px;
  background-color: $light;
  box-shadow: 1px 1px 0 0 $primary, 2px 2px 0 0 $primary, 3px 3px 0 0 $primary,
    4px 4px 0 0 $primary;
  .info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .bio {
    color: $secondary;
  }

  .info-section h5 {
    font-size: 1.3em;
    font-family: sans-serif;
  }

  .description {
    color: #c7c8cc;
    font-size: 1.1em;
    font-family: sans-serif;
  }

  .profile {
    position: absolute;
    top: -100px;
    height: 200px;
    width: 200px;
  }
}

.right {
  border-radius: 10px;
  background-color: $light;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  height: 100%;
  padding: 10px;
  box-shadow: 1px 1px 0 0 $primary, 2px 2px 0 0 $primary, 3px 3px 0 0 $primary,
    4px 4px 0 0 $primary;

  .tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    font-family: sans-serif;
    transition: 0.1s all ease-in-out;
  }

  .tabs__label {
    padding: 10px 16px;
    cursor: pointer;
    color: $primary;
    transition: 0.1s all ease-in-out;
  }

  .tabs__radio {
    display: none;
  }

  .tabs__content {
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
    transition: 0.3s all ease-in-out;
  }

  .tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: $orange;
    border-bottom: 2px solid $orange;
  }

  .tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
  }
}
