<div style="width: 415px; height: 1101px; position: relative; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
  <div style="width: 415px; height: 1101px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 13px; border: 3px #003049 solid; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)"></div>

  <div style="width: 311px; height: 393px; left: 52px; top: 41px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 20px; display: inline-flex">
    <!-- Categories -->
    <div style="text-align: center; color: #003049; font-size: 30px; font-family: Livvic; font-weight: 600; word-wrap: break-word">Categories</div>
    <!-- Technology -->

    <div style="width: 311px; height: 51px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 311px; height: 51px; background: #F6F8F9; border-radius: 13px">
        <input type="checkbox" id="technology" style="display: none;">
        <label for="technology" style="width: 280px; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="text-align: center; color: #003049; font-size: 20px; font-family: Livvic; font-weight: 400; word-wrap: break-word">Technology</div>
          <input type="checkbox" style="width: 34px; height: 31px; background: #D9D9D9; border-radius: 7px; margin-left: auto;">
        </label>
      </div>
    </div>
    <!-- Tabletop games -->

    <div style="width: 311px; height: 51px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 311px; height: 51px; background: #F6F8F9; border-radius: 13px">
        <input type="checkbox" id="tabletopGames" style="display: none;">
        <label for="tabletopGames" style="width: 280px; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="text-align: center; color: #003049; font-size: 20px; font-family: Livvic; font-weight: 400; word-wrap: break-word">Tabletop games</div>
          <input type="checkbox" style="width: 34px; height: 31px; background: #D9D9D9; border-radius: 7px; margin-left: auto;">
        </label>
      </div>
    </div>
    <!-- Literary -->

    <div style="width: 311px; height: 51px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 311px; height: 51px; background: #F6F8F9; border-radius: 13px">
        <input type="checkbox" id="literary" style="display: none;">
        <label for="literary" style="width: 280px; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="text-align: center; color: #003049; font-size: 20px; font-family: Livvic; font-weight: 400; word-wrap: break-word">Literary</div>
          <input type="checkbox" style="width: 34px; height: 31px; background: #D9D9D9; border-radius: 7px; margin-left: auto;">
        </label>
      </div>
    </div>
    <!-- Drama -->

    <div style="width: 311px; height: 51px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 311px; height: 51px; background: #F6F8F9; border-radius: 13px">
        <input type="checkbox" id="drama" style="display: none;">
        <label for="drama" style="width: 280px; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="text-align: center; color: #003049; font-size: 20px; font-family: Livvic; font-weight: 400; word-wrap: break-word">Drama</div>
          <input type="checkbox" style="width: 34px; height: 31px; background: #D9D9D9; border-radius: 7px; margin-left: auto;">
        </label>
      </div>
    </div>
    <!-- Gaming -->

    <div style="width: 311px; height: 51px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 311px; height: 51px; background: #F6F8F9; border-radius: 13px">
        <input type="checkbox" id="gaming" style="display: none;">
        <label for="gaming" style="width: 280px; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="text-align: center; color: #003049; font-size: 20px; font-family: Livvic; font-weight: 400; word-wrap: break-word">Gaming</div>
          <input type="checkbox" style="width: 34px; height: 31px; background: #D9D9D9; border-radius: 7px; margin-left: auto;">
        </label>
      </div>
    </div>

  </div>

  <div style="width: 311px; height: 393px; padding-bottom: 213px; left: 52px; top: 480px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
        <!-- Date -->

    <div style="text-align: center; color: #003049; font-size: 30px; font-family: Livvic; font-weight: 600; word-wrap: break-word">Date</div>
        <!-- newest -->

    <div style="width: 311px; height: 51px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 311px; height: 51px; background: #F6F8F9; border-radius: 13px">
        <input type="checkbox" id="technology" style="display: none;">
        <label for="technology" style="width: 280px; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="text-align: center; color: #003049; font-size: 20px; font-family: Livvic; font-weight: 400; word-wrap: break-word">Newest</div>
          <input type="checkbox" style="width: 34px; height: 31px; accent-color: green; border-radius: 7px; margin-left: auto;">
        </label>
      </div>
    </div>
    <!-- oldest -->

    <div style="width: 311px; height: 51px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 311px; height: 51px; background: #F6F8F9; border-radius: 13px">
        <input type="checkbox" id="tabletopGames" style="display: none;">
        <label for="tabletopGames" style="width: 280px; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="text-align: center; color: #003049; font-size: 20px; font-family: Livvic; font-weight: 400; word-wrap: break-word">Oldest</div>
          <input type="checkbox" style="width: 34px; height: 31px; background: #D9D9D9; border-radius: 7px; margin-left: auto;">
        </label>
      </div>
    </div>
