@import "./new";
.clubs-container {
  width: 100%;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: fit-content;

  .clubs-body {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .clubs-header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
  }

  .clubs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: start;
    width: 100%;
    height: fit-content;
    margin-right: 20px;
  }

  @media screen and (max-width: 768px) {
    .clubs {
      grid-template-columns: 1fr 1fr;
    }
  }

  .club-card {
    width: 100%;
    height: 350px;
    border: solid 3px $primary;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    background-color: $orange;
    margin-right: 20px;
    box-shadow: 1px 1px 0 0 $primary, 2px 2px 0 0 $primary, 3px 3px 0 0 $primary,
      4px 4px 0 0 $primary;
    flex-grow: 1;
    .card-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 5px;
      color: $light;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 5px;
      background-color: $yellow;
      border-radius: 10px;

      .card-image {
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 16/9;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20%;
        width: 100%;
        text-align: center;
        padding: 5px;
        background-color: $yellow;
        border-radius: 10px;
        .card-title {
          font-size: 13px;
          font-weight: 400;
          margin-bottom: 5px;
          a {
            text-decoration: none;
            color: $primary;
          }
        }
        .category-members {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .card-category {
            font-size: 14px;
            font-weight: 500;
            color: $secondary;
            display: flex;
            justify-content: center;
          }
          .members {
            font-size: 14px;
            font-weight: 500;
            color: $secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              margin-left: 5px;
            }
          }
        }
      }

      .card-buttons {
        height: fit-content;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-size: 13px;
        margin-bottom: 10px;
        a {
          width: 100%;
        }
      }

      .card-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-size: 12px;
        color: $secondary;
        font-weight: 600;
      }
    }
  }
  .clubs-sidebar {
    width: 20%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: $light;
    border: solid 3px $primary;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);

    .chackbox {
      margin: 10px;
    }
  }

  .main {
    width: 60%;
    margin-right: 10px;
  }
  .secondary {
    width: 40%;
  }
}
