<div class="about-container">
  <div class="section1">
    <div class="hero">
      <div class="title">
        <h2>About us</h2>
      </div>
      <div class="slogan">
        Welcome to the quirky world of 2Gather, where the ordinary becomes extraordinary! Meet our team of four masterminds who are as unique as the code they craft:
      </div>
    </div>
    <div class="side-pic">
      <%=image_tag("https://res.cloudinary.com/dgpk6t1we/image/upload/v1707159631/assets/2gather_logo_ruyjpc.png") %>
    </div>
  </div>
  <div class="team-members">
    <div class="team-title">
      <h1>Our team</h1>
    </div>
    <div class="members">
      <div class="member">
        <div class="member-pic">
          <img class="round-pic" src="https://res.cloudinary.com/dgpk6t1we/image/upload/v1708179464/about/draw-a-good-stickman_z3m4dy.jpg" alt="">
        </div>
        <div class="member-name">
          <p>Hatim</p>
        </div>
        <div class="member-description">
          <p>He's that guy</p>
        </div>
        <div class="member-socials">
          <a href="">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-google"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="member">
        <div class="member-pic">
          <img class="round-pic" src="https://res.cloudinary.com/dgpk6t1we/image/upload/v1708179708/about/raw_chicken_girl_s8ok6z.jpg" alt="">
        </div>
        <div class="member-name">
          <p>Ghita</p>
        </div>
        <div class="member-description">
          <p>Once but a tadpole, Ghita ventured into adult froghood before being cursed to walk amongst us as a human being. She must now pay taxes.
            Contact her at heeeelphelpmeeehelp@gmail.com
          </p>
        </div>
        <div class="member-socials">
          <a href="">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-google"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="member">
        <div class="member-pic">
          <img class="round-pic" src="https://res.cloudinary.com/dgpk6t1we/image/upload/v1708180488/about/DSC00908_powe81.jpg" alt="">
        </div>
        <div class="member-name">
          <p>Ilyass</p>
        </div>
        <div class="member-description">
          <p>Ilyass is the kinda guy that will make your girlfriend leave you if he got too close</p>
        </div>
        <div class="member-socials">
          <a href="">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-google"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="member">
        <div class="member-pic">
          <img class="round-pic" src="https://res.cloudinary.com/dgpk6t1we/image/upload/v1708180490/about/DSC00923_oknqc4.jpg" alt="">
        </div>
        <div class="member-name">
          <p>Ismail</p>
        </div>
        <div class="member-description">
          <p>Ismail is just everyones friend (and he's good at selling things) </p>
        </div>
        <div class="member-socials">
          <a href="">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-google"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="partners">
  <h3 class="partners-title">Special thanks</h3>
  <p>We would also like to express our sincere appreciation to all the individuals and organizations who have supported us along the way. Your unwavering dedication and commitment have been instrumental in our success.</p>
  <div class="partner-logos">
    <div class="partner-logo">
      <%=image_tag("lewagon.png")%>
    </div>
    <div class="partner-logo">
      <%=image_tag("jobintech.png")%>
    </div>
  </div>
</div>
</div>
