<div class="home-container">
  <div class="main">
    <div class="banner">
      <%= image_tag("2gather_logo")%>
    </div>
    <div class="header">
      <h1>
        Welcome to 2Gather!
      </h1>
    </div>
    <div class="body">
      <p>
        Connect, Share, and Bond over Your Interests!
      </p>
    </div>
    <div class="buttons">
      <a href="/users/sign_in" class="button signin">Sign In</a>

      <a href="/users/sign_up" class="button signup">Sign Up</a>
    </div>
  </div>
</div>
