<div class="home-container">
  <div class="main">
    <div class="banner">
      <%= image_tag("https://res.cloudinary.com/dgpk6t1we/image/upload/c_scale,w_500/v1707159631/assets/2gather_logo_ruyjpc.png")%>
    </div>
    <div class="header">
      <h1>
        Welcome to 2Gather!
      </h1>
    </div>
    <div class="body">
      <p>
        Connect, Share, and Bond over Your Interests!
      </p>
    </div>
    <%if user_signed_in?%>
      <div class="buttons">
        <a href="/clubs" class="button main">Explore</a>
      </div>
    <%else%>
      <div class="buttons">
        <a href="/users/sign_in" class="button signin">Sign In</a>
        <a href="/users/sign_up" class="button signup">Sign Up</a>
      </div>
    <%end%>
  </div>
</div>
