.sidebar {
  width: 25%;
  height: 100vh;
  border-radius: 10px;
  border-radius: 10px;
  background-color: $light;

  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  box-shadow: $box-shadow;
  position: sticky;
  top: 84px;
  overflow-y: auto;
  .sidebar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h1 {
      font-size: 30px;
      font-weight: 700;
      color: $primary;
    }
  }
  .event {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary;
    background-color: $light-yellow;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
