@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "./config/colors";
@import "./config/fonts";
@import "./pages/index";
@import "./components/navbar";
$primary: #f00;
$light-yellow: #f0f;

.dropdown-menu{
  ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      border: solid 3px $primary;
      border-radius: 10px;
      background-color: whi;
      width: fit-content;
      padding: 20px   ;
      right: 10px;
      top: 60px;
      position: absolute;
      li{
          margin: 5px 0;
          a{
              text-decoration: none;
              color: $primary;
              font-size: 20px;
              font-weight: bold;
              &:hover{
                  color: $light-yellow;
              }
          }
      }
  }
}
