@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "./config/colors";
@import "./config/fonts";
@import "./pages/index";
@import "font-awesome";
@import "clubs/index";
@import "./components/index";
@import "simple_calendar";
@import "events/event-show";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  background-color: $background;
}
